---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/AFantasticaFabricaDeDocinhos/feed?access_token=861374203939234%7CNHquhbox8Uvjd8RyjTEnQSW_PqQ&fields=from%7Bname%7D,message&limit=25
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - '"54e3720859597bd1bdbe0322c8e86c45bf47e10b"'
      Facebook-Api-Version:
      - v2.4
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"from":{"name":"A Fant\u00e1stica F\u00e1brica de Docinhos","id":"441911812556901"},"message":"Para
        garantir um domingo de p\u00e1scoa com um lindo e delicioso ovo de chocolate
        da Fant\u00e1brica fa\u00e7a seu pedido at\u00e9 a quarta-feira (01\/04) ;)
        \u003C3","id":"441911812556901_784431314971614"},{"from":{"name":"A Fant\u00e1stica
        F\u00e1brica de Docinhos","id":"441911812556901"},"message":"Anivers\u00e1rio
        de Priscila, super lindo! Tudo muito delicado, organizado pela Cestas Pedacinho
        do C\u00e9u com bolo d[...]
