<h1>Resultados encontrados</h1>

<% if @posts.nil? %>
  <h3>Nenhum resultado encontrado com o parâmetro informado</h3>
<% else %>
  <%= render partial: 'posts/post', collection: @posts %>
<% end %>

<br><br>

<%= link_to "Realizar outra pesquisa", root_path %>
